/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100vh; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background-color: rgba(255, 255, 255, 0); }

body {
  font-size: 2vmin; }

#game-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

#board {
  position: relative;
  display: grid;
  width: 90vmin;
  background-color: #ccc;
  border: 1px #aaa solid; }
  #board .square {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    height: 0;
    border: 1px #aaa solid; }
    #board .square::after {
      display: block;
      overflow: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding-top: 100%;
      text-align: center; }
    #board .square.empty:hover::after {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4) inset;
      content: ''; }
    #board .square.p1::after {
      background-color: black;
      color: black;
      clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
      content: 'X'; }
    #board .square.p2::after {
      background-color: white;
      color: white;
      clip-path: circle(50% at 50% 50%);
      content: 'O'; }
  #board #notice {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.7); }

header#main {
  display: flex;
  flex-wrap: wrap;
  justify-items: center; }
  header#main button {
    display: inline-block;
    height: 3.2em;
    padding: .8em;
    margin: 1em;
    font-size: 100%;
    color: white;
    background-color: #4285f4;
    border: 1px #aaa solid;
    border-radius: 1em;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4); }
    header#main button:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.6); }
  @media screen and (max-aspect-ratio: 1 / 1) {
    header#main {
      width: 100%;
      height: 10vmin;
      margin-bottom: 2em; }
      header#main nav {
        width: auto;
        height: 3.2em;
        margin: 0 auto; } }
  @media screen and (min-aspect-ratio: 1 / 1) {
    header#main {
      min-width: 10vmin;
      height: 100%;
      max-height: 750px;
      margin-right: 2em; }
      header#main nav {
        text-align: right;
        width: 10em;
        height: auto;
        margin: auto 0; } }

/*# sourceMappingURL=connect.css.map */
